h1 {
  text-align: center;
}
.udtagelser {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;

  .udtagelse {
    max-width: 400px;
    margin: 0 auto;
    div {
      img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 100%;
      }
    }
  }
}
